{{!-- Halfling Champion Class Tab --}}
<section class="tab {{tabs.halfling-champion.id}} {{tabs.halfling-champion.cssClass}}" data-tab="{{tabs.halfling-champion.id}}" data-group="{{tabs.halfling-champion.group}}">

  <div class="grid-container">
    <div class="grid-col-span-12 dark-border">
      <div class="box-title">{{localize "HalflingChampion.HalflingChampionAbilities"}}</div>
      <div class="grid-tpl-two grid-row-gap-8 p-5">
        <div class="grid-tpl-max-25" data-skill="deedDie">
          <label class="skill-check rollable" for="system.skills.deedDie.die"
                 data-action="rollSkillCheck"
                 data-drag="true"
                 data-drag-action="skill"
                 title="{{localize 'DCC.RollSkillCheckHint'}}">
            {{localize "HalflingChampion.DeedDie"}}
          </label>
          <input type="text" id="system.skills.deedDie.die" name="system.skills.deedDie.die"
                 value="{{system.skills.deedDie.die}}" data-dtype="String"/>
        </div>
      </div>
      <ul class="class-note flexcol">
        {{#dccPackExists "dcc-core-book.dcc-core-journals"}}
        <li>{{{localize "DCC.HalflingClassLink"}}}</li>
        {{/dccPackExists}}
        <li>{{localize "DCC.InfravisionHalfling"}}</li>
        <li>{{localize "HalflingChampion.InspirationalLuck"}}</li>
        <li>{{localize "DCC.TwoWeaponFighting"}}
          <ul class="class-note flexcol">
            <li>{{localize "DCC.HalflingTwoWeaponActionDie"}}</li>
            <li>{{localize "DCC.HalflingTwoWeaponCrit"}}</li>
            <li>{{localize "DCC.HalflingTwoWeaponFumble"}}</li>
            <li>{{localize "DCC.HalflingTwoWeaponHighAg"}}</li>
          </ul>
        </li>
        <li>{{localize "DCC.MightyDeedsOfArms"}}
          <ul class="class-note flexcol">
            {{#dccPackExists "dcc-core-book.dcc-core-journals"}}
            <li>{{{localize "DCC.MightyDeedsLink"}}}</li>
            {{/dccPackExists}}
            <li>
              <a class="external-link"
                 href="https://github.com/foundryvtt-dcc/dcc/wiki/Mighty-Deeds">
                <i class="fas fa-link"></i> {{localize "DCC.MightyDeedsHowToLink"}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>